[submodule "hpctoolkit"]
	path = hpctoolkit
	url = git@github.com:Jokeren/hpctoolkit.git
[submodule "dyninst"]
	path = dyninst
	url = git@github.com:mxz297/dyninst.git
[submodule "samples"]
	path = samples
	url = git@github.com:FindHao/hpctoolkit-gpu-sanitizer-samples.git
[submodule "redshow"]
	path = redshow
	url = git@github.com:FindHao/redshow.git
